<section class="flex flex-col w-full h-full">
  <div class="flex flex-col p-2 rounded-[15px] bg-[#21222d]">
    <div class="py-4 px-6">
      <h1 class="text-2xl text-white font-bold py-1">All Users</h1>
    </div>

    <div class="overflow-x-auto py-2">
      <table class="w-full text-sm text-left rtl:text-right">
        <thead class="text-xs text-gray-700 uppercase">
          <tr>
            <th scope="col" class="px-6 py-3 text-white opacity-50">Photo</th>
            <th scope="col" class="px-6 py-3 text-white opacity-50">Name</th>
            <th scope="col" class="px-6 py-3 text-white opacity-50">Email</th>
            <th scope="col" class="px-6 py-3 text-white opacity-50">Role</th>
            <th scope="col" class="px-6 py-3 text-white opacity-50">
              Interactions
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users" class="border-b">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-white whitespace-nowrap"
            >
              <img
                [src]="user?.avatar ? user?.avatar : 'images/emptyAvatar.png'"
                class="w-8 h-8 rounded-full object-fill"
                alt="userPhoto"
              />
            </th>
            <td class="px-6 py-4 text-white font-bold">
              {{ user?.username }}
            </td>
            <td class="px-6 py-4 text-white font-bold">{{ user?.email }}</td>
            <td
              *ngIf="user?.role === 'user'; else admin"
              class="px-6 py-4 font-bold text-orange-500"
            >
              {{ user?.role | uppercase }}
            </td>
            <ng-template #admin>
              <td class="px-6 py-4 font-bold text-green-500">
                {{ user?.role | uppercase }}
              </td>
            </ng-template>

            <td class="px-6 py-4 text-white font-bold">
              {{ user?.role | uppercase }}
            </td>
            <td class="px-6 py-4 text-white font-bold">500 Likes / Comments</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
