<section class="flex gap-2 w-full">
  <div class="w-full flex flex-col gap-4">
    <div class="flex flex-col p-2 rounded-[7px] bg-[#2e2e38]">
      <div class="py-4 px-6">
        <h1 class="text-2xl text-white font-bold py-1">Today’s Sales</h1>
        <h2 class="text-normal font-bold text-gray-500 py-1">Sales Summary</h2>
      </div>

      <div class="flex items-center justify-around gap-1 mb-5">
        <div
          class="flex flex-col gap-2 bg-[#171821] py-6 px-4 text-white rounded-[10px]"
        >
          <span class="font-bold text-2xl">5k</span>
          <span class="text-xl">Total Sales</span>
          <small>+10% from yesterday</small>
        </div>
        <div
          class="flex flex-col gap-2 bg-[#171821] py-6 px-4 text-white rounded-[10px]"
        >
          <span class="font-bold text-2xl">5k</span>
          <span class="text-xl">Total Sales</span>
          <small>+10% from yesterday</small>
        </div>
        <div
          class="flex flex-col gap-2 bg-[#171821] py-6 px-4 text-white rounded-[10px]"
        >
          <span class="font-bold text-2xl">5k</span>
          <span class="text-xl">Total Sales</span>
          <small>+10% from yesterday</small>
        </div>
        <div
          class="flex flex-col gap-2 bg-[#171821] py-6 px-4 text-white rounded-[10px]"
        >
          <span class="font-bold text-2xl">5k</span>
          <span class="text-xl">Total Sales</span>
          <small>+10% from yesterday</small>
        </div>
      </div>
    </div>
    <div class="flex flex-col p-2 rounded-[7px] bg-[#2e2e38]">
      <div class="py-4 px-6">
        <h1 class="text-2xl text-white font-bold py-1">Top Groups</h1>
      </div>

      <div class="overflow-x-auto py-2">
        <table class="w-full text-sm text-left rtl:text-right">
          <thead class="text-xs text-gray-700 uppercase">
            <tr>
              <th scope="col" class="px-6 py-3 text-white opacity-50">#</th>
              <th scope="col" class="px-6 py-3 text-white opacity-50">Group</th>
              <th scope="col" class="px-6 py-3 text-white opacity-50">
                Popularity
              </th>
              <th scope="col" class="px-6 py-3 text-white opacity-50">
                Interactions
              </th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let group of groups" class="border-b-[0.5px] border-gray-500">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-white whitespace-nowrap"
              >
                {{ group.id }}
              </th>
              <td class="px-6 py-4 text-white font-bold">{{ group.name }}</td>
              <td class="px-6 py-4 text-white font-bold">
                {{ group.users.length }} users
              </td>
              <td class="px-6 py-4 text-white font-bold">
                {{ group.interactions }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- <div class="w-[40%] flex flex-col gap-3">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione
      excepturi voluptatum mollitia accusamus quia laborum ipsa corrupti
      expedita iure debitis?
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione
      excepturi voluptatum mollitia accusamus quia laborum ipsa corrupti
      expedita iure debitis?
    </p>
  </div> -->
</section>
<section class="my-8">
  <div class="w-[98%]">
    <div class="flex flex-col p-2 rounded-[7px] bg-[#2e2e38]">
      <div class="py-4 px-6">
        <h1 class="text-2xl text-white font-bold py-1">Users</h1>
      </div>

      <div class="overflow-x-auto py-2">
        <table class="w-full text-sm text-left rtl:text-right">
          <thead class="text-xs text-gray-700 uppercase">
            <tr>
              <th scope="col" class="px-6 py-3 text-white opacity-50">#</th>
              <th scope="col" class="px-6 py-3 text-white opacity-50">Name</th>
              <th scope="col" class="px-6 py-3 text-white opacity-50">Email</th>
              <th scope="col" class="px-6 py-3 text-white opacity-50">
                Popularity
              </th>
              <th scope="col" class="px-6 py-3 text-white opacity-50">
                Interactions
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users;let i= index" class="border-b">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-white whitespace-nowrap"
              >
                {{ i+1 }}
              </th>
              <td class="px-6 py-4 text-white font-bold">{{ user.username }}</td>
              <td class="px-6 py-4 text-white font-bold">{{ user.email }}</td>
              <td class="px-6 py-4 text-white font-bold">
                {{ user.links }} users
              </td>
              <td class="px-6 py-4 text-white font-bold">
                {{ user.email }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
  </div>
</section>
